.page {
  margin: 60px auto 0;
  text-align: center;
  width: 60%;
}

.title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

input {
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

/*.slug {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
} */
