.page {
  margin: 40px auto 0;
  text-align: center;
  width: 60%;
}

.title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

input {
  
}


.warning {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
} 
