.page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: darkCyan;
}

.title {
  font-size: 3em;
  font-family:cursive;
  text-align: center;
}

.number1, .number2, .answer {
  background-color:lemonchiffon; 
}

.operation, .click {
  background-color: thistle;
}

.number1, .number2, .answer, .operation, .click {
  display: inline;
  margin: .3em;
  padding: .60em;
  border-radius: .3em;
}

.number1, .number2, .answer {
  width: 3 em;
}

.warning {
  font-size: 1.5em; 
  font-family: cursive;
  color: lightcoral;
  text-align: center;
}
